<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Demo_Servlet_Transaction</servlet-name>
        <servlet-class>com.yash_desai.AJP_22517.Practical_22.Demo_Servlet_Transaction</servlet-class>
        <init-param>
            <param-name>User_Name</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>User_Name_Length</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo_Servlet_Transaction</servlet-name>
        <url-pattern>/Demo_Servlet_Transaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
